<div class="row flex-center flex">
    <div>
        <h1 class="page_title">Aggiungi un membro al tuo team</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form-widget">
            <div>
                <label for="email">Email</label>
                <input
                        id="email"
                        formControlName="email"
                        class="inputField"
                        type="email"
                        placeholder="Your email"
                />
            </div>
            <div>
                <label for="role">Ruolo</label>
                <select id="role">
                    <option value="engineer">Ingegnere</option>
                    <option value="pilot">Pilota</option>
                    <option value="social_media_manager">Media Manager</option>
                </select>
            </div>
            <div>
                <button type="submit" class="button block" [disabled]="loading">
                    {{ loading ? 'Loading' : 'Invia' }}
                </button>
            </div>
        </form>
    </div>
</div>