<h1 style="font-family: 'FormulaOneRegular';">Home</h1>
<hr>
<div class="row mb-3">
    <div class="col-md-6 my-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-calendar-event"></i> Calendario</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptatem
                    debitis. Est itaque cupiditate aperiam nisi cum rem. Autem ipsam veniam perspiciatis aperiam facilis
                    quae, unde odio reprehenderit! Dolorem, eius.</p>
            </div>
            <div class="card-footer text-muted text-end">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/content']"
                        title="Visualizza contenuti caricati">Contenuti </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 my-1" >
        <div class="card">
            <div class="card-body" >
                <h5 class="card-title">Dettagli utente</h5>
                <p class="card-text">
                    <b>Name</b><br>
                    <small>ruolo</small><br>
                    <small class="text-muted">Email</small>   
                </p>
            </div>
            <div class="card-footer text-muted">
                <div class="text-end">
                    <button type="button" class="btn btn-sm btn-secondary"
                    title="Visualizza contenuti caricati">Logout</button>
                </div>          
            </div>
        </div>
    </div>
    <div class="col-md-6 my-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-ticket-detailed"></i> Gestione Profili</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptatem
                    debitis. Est itaque cupiditate aperiam nisi cum rem. Autem ipsam veniam perspiciatis aperiam facilis
                    quae, unde odio reprehenderit! Dolorem, eius.</p>
            </div>
            <div class="card-footer text-muted text-end">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/manage']"
                        title="Visualizza Utenti">Users</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 my-1">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><i class="bi bi-ticket-detailed"></i>Content Overview</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, voluptatem
                    debitis. Est itaque cupiditate aperiam nisi cum rem. Autem ipsam veniam perspiciatis aperiam facilis
                    quae, unde odio reprehenderit! Dolorem, eius.</p>
            </div>
            <div class="card-footer text-muted text-end">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-secondary" [routerLink]="['/overview']"
                        title="Visualizza Contenuti">Contenuti</button>
                </div>
            </div>
        </div>
    </div>
</div>