<div class="row flex-center flex">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-widget">
        <h3>O richiedi un Magic Link</h3>

        <div>
                <label for="email">Email</label>
                <input
                        id="email"
                        formControlName="email"
                        class="inputField"
                        type="email"
                        placeholder="Your email"
                />
            </div>
            <div>
                <button type="submit" class="button block" [disabled]="loading">
                    {{ loading ? 'Loading' : 'Send magic link' }}
                </button>
            </div>
        </form>
</div>