<div class="header">
  <div class="title"> <h1>MyScuderia</h1> </div>
</div>

<nav>
  <ul routerLinkActive="active">
    <li> <a routerLink="/home" routerLinkActive="active" *ngIf="isAuthenticated()">Home</a> </li>
    <li> <a routerLink="/stats" routerLinkActive="active" *ngIf="isAuthenticated()">Stats</a> </li>
    <li> <a routerLink="/team" routerLinkActive="active" *ngIf="isAuthenticated()">Team</a> </li>
    <li> <a routerLink="/gallery" routerLinkActive="active" *ngIf="isAuthenticated()">Gallery</a> </li>
    <li> <a routerLink="/updatePassword" routerLinkActive="active" *ngIf="isAuthenticated()">Reset Password</a> </li>
    <li class="logout-nav" routerLinkActive="active" *ngIf="isAuthenticated()"> <a (click)="signOut()">Logout</a> </li>
    <li> <a routerLink="/login" routerLinkActive="active" *ngIf="!isAuthenticated()">Login</a> </li>
    <li> <a routerLink="/signup" routerLinkActive="active" *ngIf="!isAuthenticated()">Registrati come TP</a> </li>
  </ul>
</nav>

<router-outlet></router-outlet>