<div class="resetPassword">
    <h3>Inserisci nuova password</h3>
    <form [formGroup]="updatePwd" (ngSubmit)="onSubmit()" class="form-widget">
        <div>
            <label for="password">Password</label>
            <input
                    id="password"
                    formControlName="password"
                    class="inputField"
                    type="password"
                    placeholder="Your password"
            />
        </div>
        <div>
            <button type="submit" class="button block" [disabled]="loading">
                {{ loading ? 'Loading' : 'Salva' }}
            </button>
        </div>
    </form>
</div>