<div class="center">
    <ng-template #changePass>
        <app-requestPwdChange></app-requestPwdChange>
    </ng-template>
{{isLogged()}}
    <div class="login">

        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="form-widget">
            <h1>Login</h1>

            <div>
                <label for="email">Email</label>
                <input id="email" formControlName="email" class="inputField" type="email" placeholder="Your email" />
            </div>
            <div>
                <label for="password">Password</label>
                <input id="password" formControlName="password" class="inputField" type="password"
                    placeholder="Your password" />
            </div>
            <div>
                <button type="submit" class="button block" [disabled]="loading">
                    {{ loading ? 'Loading' : 'Login' }}
                </button>
            </div>
            <a (click)="forgotPwd=true">Password dimenticata?</a>
        </form>

        <ng-content select="login" *ngIf="forgotPwd==false; else changePass"></ng-content>
        <app-magic-link></app-magic-link>

    </div>
</div>