<header>
    <div class="logo">
        <h1>My Scuderia</h1>
    </div>
    <nav>
        <ul routerLinkActive="active">
          <li> <a routerLink="/home" routerLinkActive="active" *ngIf="isAuthenticated()">Home</a> </li>
          <li> <a routerLink="/stats" routerLinkActive="active" *ngIf="isAuthenticated()">Stats</a> </li>
          <li> <a routerLink="/team" routerLinkActive="active" *ngIf="isAuthenticated()">Team</a> </li>
          <li> <a routerLink="/gallery" routerLinkActive="active" *ngIf="isAuthenticated()">Gallery</a> </li>
          <li> <a routerLink="/updatePassword" routerLinkActive="active" *ngIf="isAuthenticated()">Reset Password</a> </li>
          <li class="logout-nav" routerLinkActive="active" *ngIf="isAuthenticated()"> <a (click)="signOut()">Logout</a> </li>
          <li> <a routerLink="/login" routerLinkActive="active" *ngIf="!isAuthenticated()">Login</a> </li>
          <li> <a routerLink="/signup" routerLinkActive="active" *ngIf="!isAuthenticated()">Registrati come TP</a> </li>
        </ul>
      </nav>
</header>
<!-- <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand text-white" [routerLink]="['']">CMS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
          <ul class="navbar-nav flex-grow-1">
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item" *ngIf="isAuthenticated()">
              <a class="nav-link btn text-white" (click)="signOut()">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header> -->
