<!DOCTYPE html>
<html>
    <head>
        <title>MyScuderia - Stats</title>
        <meta charset="UTF-8">
    </head>

    <body>
<!--    NAVBAR-->
        <nav>
            <ul>
                <li> <a href="../dashboard/dashboard.component.html">Home</a> </li>
                <li> <a class="active" href="">Stats</a> </li>
                <li> <a href="../team/team.component.html">Team</a> </li>
                <li> <a href="../gallery/gallery.component.html">Gallery</a> </li>
            </ul>
        </nav>

    <button>2023</button>

    <table>
        <td>
            <tr>Round 1 -</tr>
            <tr>Round 2 -</tr>
            <tr>Round 3 -</tr>
            <tr>Round 4 -</tr>
            <tr>Round 5 -</tr>
            <tr>Round 6 -</tr>
            <tr>Round 7 -</tr>
            <tr>Round 8 -</tr>
            <tr>Round 9 -</tr>
            <tr>Round 10 -</tr>
            <tr>Round 11 -</tr>
        </td>
        <td>
            <tr>Round 12 -</tr>
            <tr>Round 13 -</tr>
            <tr>Round 14 -</tr>
            <tr>Round 15 -</tr>
            <tr>Round 16 -</tr>
            <tr>Round 17 -</tr>
            <tr>Round 18 -</tr>
            <tr>Round 19 -</tr>
            <tr>Round 20 -</tr>
            <tr>Round 21 -</tr>
            <tr>Round 22 -</tr>
        </td>
    </table>


    </body>
</html>
