<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>MyScuderia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="login()" [formGroup]="credentials">
        <ion-item>
          <ion-label position="stacked">Your Email</ion-label>
          <ion-input 
            type="email" 
            inputmode="email"
            formControlName="email"
            placeholder="example@email.com"
          ></ion-input>
          <ion-note 
            slot="error" 
            *ngIf="(email.dirty || email.touched) && email.errors"
          >Please insert email</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Your Password</ion-label>
          <ion-input 
            type="password" 
            inputmode="text"
            formControlName="password"
          ></ion-input>
          <ion-note 
            slot="error" 
            *ngIf="(password.dirty || password.touched) && password.errors"
          >Please insert password</ion-note>
        </ion-item>

        <ion-button 
          type="submit" 
          expand="block" 
          strong="true"
          [disabled]="credentials.invalid"
        >Sign In</ion-button>
      </form>

      <div class="ion-margin-top">
        <ion-button 
        type="button" 
        expand="block" 
        color="primary"
        fill="outline"
        routerLink="register"
        >
        <ion-icon name="person-outline" slot="start"></ion-icon>
        Register your team</ion-button>

        <ion-button 
        type="button" 
        expand="block" 
        color="secondary"
        (click)="forgotPw()"
        >
        <ion-icon name="key-outline" slot="start"></ion-icon>
        Forgot password?</ion-button>

        <ion-button 
        type="button" 
        expand="block" 
        color="tertiary"
        (click)="getMagicLink()"
        >
        <ion-icon name="arrow-forward" slot="start"></ion-icon>
        Get a magic link</ion-button>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
